{% extends 'base.html.twig' %}

{% block body %}
<h2>RPS Game Tournament on 3rd of Mai, 2023</h2>
<h3>Players</h3>
<p>Moritz (M),  {{gibbyVar}} </p>
<table>
    <tr >

            <th>Player</th>

        <th>Symbol</th>
        <th>Date and Time</th>
        <th>Winner</th>
    </tr>
    <tr id="rowId">
        <!-- funktioniert nt!! -->
        {% for cell in rowId %}
        <td>M<br>G</td>
        {% endfor %}
        <td>Scissors<br>Scissors</td>
        <td>03.05.2023 - 12:03</td>
        <td>DRAW</td>
    </tr>
    <tr>
        <td>M<br>G</td>
        <td>Scissors<br>Paper</td>
        <td>03.05.2023 - 12:05</td>
        <td>Moritz</td>
    </tr>
    <tr>
        <td>M<br>G</td>
        <td>Stone<br>Paper</td>
        <td>03.05.2023  - 12:06</td>
        <td>Gabriel</td>
    </tr>
    <tr>
        <td>M<br>G</td>
        <td>Stone<br>Stone</td>
        <td>03.05.2023  - 12:10</td>
        <td>DRAW</td>
    </tr>
    <tr>
        <td>M<br>G</td>
        <td>Paper<br>Stone</td>
        <td>03.05.2023 - 12:15</td>
        <td>Moritz</td>
    </tr>
</table>
{% endblock %}